<% if(events.length > 0 ){ %>
    <% events.forEach(function(event){ %>
        <div class="card">
            <div class="card-data">
                <div class="card-dttm"><%= event.dttm %></div>
                <div class="card-title"><%= event.item %></div>
            </div>
            <div class="card-controls">
                <div class="card-info">
                    <button class="fa fa-info-circle info-btn"></button>
                    </div>
                <div class="card-add">
                    <button class="fa fa-plus add-btn"></button>
                </div>
            </div>
        </div>
    <% }); %>
<% } %>