<meta charset="UTF-8">
<title>Sqlite1 nodeapp</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/reset.css">
<script src="https://use.fontawesome.com/ad0e0411d6.js"></script>
