<!DOCTYPE html>
<head>
    <% include ../views/partials/header %>
</head>
<body>
    <h1><%= header %></h1>
    <div class="card-deck">
        <% include ../views/partials/card %>
    </div>
    <% include ../views/partials/footer %>
</body>